.container{
    margin-top: 30px;
  
    .title{
      color: white;
      margin: 10px 0px 10px 0px;
    }
    
    .carts{
      display: flex;
      border-radius: 50%;
    }
  
    .wrapper{
      display: flex;
      flex-direction: column;
      margin: 10px 5px 10px 5px;
   
      .img{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      width: 100px;
      height: 100px;
      color: red;
      object-fit: cover;
      border-radius: 50%;
    }
      
    .name{
      text-align: center;
        color: white;
      }
    }
  }