.container {
  width: 35px;
  height: 35px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  font-weight: bolder;
}

@media screen and (max-width: 720px) {
  .container {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin-left: 1px;
  }
}
@media screen and (max-width: 420px) {
  .container {
    margin-left: 1px;
  }
}

@media screen and (max-width: 360px) {
  .container {
    margin-left: 1px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    margin-left: 1px;
  }
}
