.container {
  width: clamp(1.75rem, calc(1.313rem + 1.4vi), 2.188rem);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  font-weight: bolder;
  position: absolute;
  bottom: 0px;
  left: 0px;
}