.container {
    display: flex;
    position: relative;
    grid-template-columns: auto;
    width: 100%;
    
    .wrapper {
        margin: 5px;
        border: 1px solid silver;
        border-radius: 10px;
        padding: 3px 2px 3px 2px;

        .title {
            font-size: 17px;
            color: white;
            font-weight: lighter;
            white-space: nowrap;
        }
    }
}
