.container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  .wrapperslider {
    margin-bottom: 12px;

    .slider {
      margin: auto;
      width: 80%;

      .wrapperimg {
        .img {
          display: flex;
          border-radius: 10px;
          height: 35em;
          width: 100%;
        }
      }
    }
  }

  .maincontent {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    margin-top: 21px;

    .wrapper {
      position: relative;
      width: 96%;
      margin-left: auto;
      margin-right: auto;

      .movies {
        font-weight: bold;
        height: 30px;
        width: 120px;
        text-align: center;
        font-size: 25px;
        background: linear-gradient(rgba(250, 113, 0, 1) 0%, rgba(255, 239, 0, 1) 100%);
        border-radius: 10px;
      }

      .moviessceleton {
        display: flex;
        background-color: #ffffff;
        box-sizing: border-box;
        height: 30px;
      }

      .slidermovies {
        margin-top: 12px;

        .imgcontainer {
          height: 20vh;

          .img {
            display: flex;
            align-items: center;
            margin: auto;
            width: 140px;
            height: 150px;
            border-radius: 10px;
          }
          margin-bottom: 12px;

          .average {
            position: relative;
            top: -2.5em;
            border-radius: 50%;

            .skeleton {
              top: -1.5em;
              height: 50px;
              width: 50px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  .wrappercontainer {
    width: 98%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    .title {
      font-weight: bold;
      font-size: 25px;
      text-align: center;
      width: 120px;
      height: 30px;
      background: linear-gradient(rgba(250, 113, 0, 1) 0%, rgba(255, 239, 0, 1) 100%);
      border-radius: 10px;
      margin-left: 2%;
    }

    .titlesceleton {
      display: flex;
      background-color: #ffffff;
      box-sizing: border-box;
      height: 30px;
    }

    .slider {
      width: 96%;
      margin-left: auto;
      margin-right: auto;

      .wrapper {
        border-radius: 10px;
        width: 96%;
        align-items: center;

        .imgwrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding-top: 12px;

          .skeleton {
            height: 50px;
            width: 50px;
            border-radius: 50%;
          }

          .img {
            width: 140px;
            height: 150px;
            border-radius: 10px;
          }

          .average {
            position: relative;
            top: -2.5em;
            left: -3.5em;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .container {
    .maincontent {
      .wrapper {
        .movies {
          font-size: 17px;
          width: 80px;
          height: 20px;

          a {
            color: #000000;
          }
        }

        .slidermovies {
          .imgcontainer {
            .img {
              width: 128px;
              height: 100px;
            }

            .average {
              top: -2em;
            }
          }
        }
      }
    }

    .wrappercontainer {
      .title {
        font-size: 17px;
        width: 80px;
        height: 20px;
      }

      .slider {
        width: 98%;
        .wrapper {
          .imgwrapper {
            .img {
              width: 128px;
              height: 100px;
            }

            .average {
              position: relative;
              top: -2em;
              left: -3.2em;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    .maincontent {
      .wrapper {
        .movies {
          font-size: large;
          width: 90px;
          height: 21px;
          font-weight: lighter;
          padding: 0;
        }

        .slidermovies {
          .imgcontainer {
            .img {
              height: 120px;
              width: 100px;
              object-fit: cover;
            }

            .average {
              position: relative;
              top: -1.8em;
            }
          }
        }
      }
    }

    .wrappercontainer {
      .title {
        font-size: 17px;
        width: 80px;
        height: 20px;
        font-weight: lighter;
        a {
          color: #000000;
        }
      }

      .slider {
        .wrapper {
          .imgwrapper {
            .img {
              height: 120px;
              width: 100px;
              object-fit: cover;
            }

            .average {
              position: relative;
              left: -2.1em;
              top: -1.9em;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 3%;
    position: relative;

    .wrapperslider {
      height: 300px;

      .slider {
        margin: auto;
        width: 95%;

        .wrapperimg {
          .img {
            display: flex;
            height: 20em;
            width: 100%;
            border-radius: 10px;
          }
        }
      }
    }
    .maincontent {
      width: 90%;
    }

    .wrappercontainer {
      width: 90%;
    }
  }
}
