.container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  .wrapperslider {
    margin-bottom: 12px;

    .slider {
      margin: auto;
      width: 80%;

      .wrapperimg {
        .img {
          display: flex;
          border-radius: 10px;
          height: 35em;
          width: 100%;
          border-radius: 10px;
        }
      }
    }
  }

  .maincontent {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    margin-top: 21px;

    .wrapper {
      position: relative;
      width: 96%;
      margin-left: auto;
      margin-right: auto;

      .movies {
        color: #979a9a;
        font-size: 21px;
        background-color: #e3e4e8;
        border-radius: 3px;
        padding: 3px;
      }

      .slidermovies {
        margin-top: 12px;

        .imgcontainer {
          height: 20vh;

          .img {
            display: flex;
            align-items: center;
            margin: auto;
            width: 140px;
            height: 150px;
            border-radius: 10px;
          }
          margin-bottom: 12px;

          .average {
            position: relative;
            top: -2.5em;
            border-radius: 50%;

            .skeleton {
              top: -1.5em;
              height: 50px;
              width: 50px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  .wrappercontainer {
    width: 98%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    .title {
      font-size: 21px;
      color: #979a9a;
      padding: 3px;
      border-radius: 3px;
      background-color: #e3e4e8;
      margin-left: 2%;
    }

    .slider {
      width: 96%;
      margin-left: auto;
      margin-right: auto;
      
      .wrapper {
        border-radius: 10px;
        width: 96%;
        align-items: center;

        .imgwrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding-top: 12px;
          height: 25vh;
          .skeleton {
            height: 50px;
            width: 50px;
            border-radius: 50%;
          }

          .img {
            width: 140px;
            height: 150px;
            border-radius: 10px;
          }

          .average {
            position: relative;
            top: -2.5em;
            left: -3.5em;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 3%;
    position: relative;

    .wrapperslider{
      height: 300px;

      .slider {
        margin: auto;
        width: 95%;
  
        .wrapperimg {
          .img {
            display: flex;
            height: 20em;
            width: 100%;
            border-radius: 10px;
          }
        }
      }
    }
    .maincontent {
      width: 90%;
    }

    .wrappercontainer{
      width: 90%;
    }
  }

  
}
