.container {
    width: 95%;
    height: 50em;
    margin-top: 100px;
    background-color: #0e1b32;
    overflow-x: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    .wrapper {
        display: flex;
        flex-direction: column;
        width: 90%;

        .content {
            display: flex;
            flex-direction: row;
            margin-left: 3%;
            width: 90%;

            .img {
                width: 300px;
                height: 400px;
                border-radius: 10px;
            }

            .title {
                font-size: 25px;
                font-weight: 700;
                color: silver;
                white-space: nowrap;
                width: 280px;
            }

            .biography {
                color: white;
                margin-left: 12px;
                

                .titlebiography {
                    font-size: 21px;
                    font-weight: 700;
                    margin: 12px 0 12px 0;
                    width: 150px;
                }

                .department {
                    font-size: 15px;
                    font-weight: 500;
                    margin: 12px 0 12px 0;
                }

                .placeofbirth {
                    font-size: 15px;
                    margin: 12px 0 12px 0;

                    h4 {
                        color: rgb(255, 85, 6);
                        padding: 5px 0 5px 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 428px) {
    .container{
        position: relative;
        margin-top: 10px;
        
        .wrapper{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        
                .content{
                    display: grid;
                    grid-template-columns: 1fr;
                        
                    .img{
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .biography{
                        text-align: center;
                    }
                }
        }
    }
}
