.container {
  width: 98%;
  margin-left: auto;
  margin-right: auto;

  .movies {
    color: white;
    font-size: clamp(1.563rem, calc(0.938rem + 2vi), 2.188rem);
    display: flex;
    justify-content: center;
    align-items: center;

    .moviesSceleton {
      width: clamp(6.25rem, calc(5rem + 4vi), 7.5rem);
    }
  }

  .wrapper {
    width: 100% auto;
    position: relative;
    overflow-y: hidden;

    .wrapperdata {
      display: grid;
      position: relative;
      grid-template-columns: repeat(
        auto-fill,
        minmax(clamp(8.125rem, calc(0.625rem + 24vi), 15.625rem), 1fr)
      );

      .wrappercarts {
        height: clamp(12.5rem, calc(5.625rem + 22vi), 19.375rem);
        position: relative;

        .carts {
          position: relative;
          height: clamp(9.375rem, calc(3.125rem + 20vi), 15.625rem);

          .img {
            width: clamp(8.125rem, calc(0.625rem + 24vi), 15.625rem);
            height: clamp(9.375rem, calc(3.125rem + 20vi), 15.625rem);
            object-fit: calc(clamp(8.125rem, 0.625rem + 24vi, 15.625rem)) auto;
            border-radius: 10px;
          }

          .imgsceleton {
            width: clamp(8.125rem, calc(0.625rem + 24vi), 15.625rem);
            height: clamp(9.375rem, calc(3.125rem + 20vi), 15.625rem);
            object-fit: calc(clamp(8.125rem, 0.625rem + 24vi, 15.625rem)) auto;
            border-radius: 10px;
          }

          .title {
            display: flex;
            flex-direction: column;
            bottom: auto;
            text-align: center;
            font-size: clamp(1.063rem, calc(0.813rem + 0.8vi), 1.313rem);
          }

          .titleSceleton {
            display: flex;
            flex-direction: column;
            bottom: auto;
            width: clamp(8.125rem, calc(0.625rem + 24vi), 15.625rem);
            text-align: center;
            font-size: clamp(1.063rem, calc(0.813rem + 0.8vi), 1.313rem);
          }

          .skeleton {
            height: clamp(1.75rem, 1.313rem + 1.4, 2.188rem);
            width: clamp(1.75rem, 1.313rem + 1.4, 2.188rem);
            border-radius: 50%;
            font-weight: bolder;
            position: absolute;
            bottom: 0px;
            left: 0px;
          }
        }
      }
    }
  }
}
