.container {
    .movies {
        text-align: center;
        margin-top: 30px;
        color: white;
        margin-left: auto;
        margin-right: auto;
        font-size: 35px;
        width: 10%;

        .moviesSceleton {
            text-align: center;
            color: white;
            margin-left: auto;
            margin-right: auto;
            font-size: 35px;
            width: 100%;
        }
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: auto;

        .wrappercarts {
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 5px;
            .carts {
                display: flex;
                flex-direction: column;

                .img {
                    width: 250px;
                    height: 270px;
                    border-radius: 10px;
                }

                .title {
                    color: white;
                    font-size: 21px;
                }
                .titleSceleton {
                    width: 56%;
                    font-size: 25px;
                }

                .rating {
                    margin-top: -2.5em;

                    .skeleton {
                        margin-top: -2.5em;
                        left: -6.5em;
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 810px) {
    .container {
        .wrapper {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
@media screen and (max-width: 1280px) {
    .container {
        .wrapper {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

@media screen and (max-width: 720px) {
    .container {
        overflow-x: hidden;

        .movies {
            width: 50%;
            font-size: 28px;
        }

        .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: relative;
            .wrappercarts {
                position: relative;
                .carts {
                    width: 190px;

                    .img {
                        width: auto;
                        height: 200px;
                    }

                    .imgsceleton {
                        width: 170px;
                        height: 200px;
                    }

                    .rating {
                        margin-top: -1.5em;

                        .skeleton {
                            margin-top: -2.5em;
                            margin-left: 3.8em;
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .container {
        .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-size: 17px;

            .wrappercarts {
                .carts {
                    width: 120px;
                    display: flex;
                    align-items: center;

                    .img {
                        width: 120px;
                        height: 150px;
                    }

                    .imgsceleton {
                        width: 120px;
                        height: 150px;
                    }

                    .rating {
                        margin-top: -1.5em;
                        margin-left: -6.5em;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;

                        .skeleton {
                            margin-top: -3.5em;
                            margin-left: -5em;
                        }
                    }

                    .title {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
