.container {
    .movies {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        color: white;
        font-size: 35px;
        bottom: 23px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: auto;

        .wrappercarts {
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 5px;
            .carts {
                display: flex;
                flex-direction: column;

                .img {
                    width: 250px;
                    height: 300px;
                    border-radius: 10px;
                }

                .title {
                    color: white;
                    font-size: 21px;
                }

                .rating {
                    margin-top: -2.5em;
                }
            }
        }
    }
}
@media screen and (max-width: 810px) {
    .container {
        .wrapper {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
@media screen and (max-width: 1280px) {
    .container {
        .wrapper {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

@media screen and (max-width: 720px) {
    .container {
        overflow-x: hidden;

        .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .wrappercarts {
                .carts {
                    width: 190px;
                    display: flex;
                    align-items: center;

                    .img {
                        width: auto;
                        height: 200px;
                    }

                    .rating {
                        margin-left: -63%;
                        margin-top: -30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .container {
        .wrapper {
            grid-template-columns: auto;
        }
    }
}
