*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  .container {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: #002f32;
    
    .debaunce {
      display: none;
    }
    .title {
      margin-left: 10px;
      font-size: 25px;
      color: white;
    }
  
    .search {
      display: flex;
      position: relative;
      height: 30px;
    
      .clicksearch {
        position: relative;
        width: 100px;
        cursor: pointer;
        border-radius: 0 15px 15px 0;
        background: rgb(214,80,80);
        background: linear-gradient(142deg, rgba(214,80,80,1) 0%, rgba(213,137,53,1) 30%, rgba(199,145,67,1) 70%, rgba(232,79,0,1) 100%);     }
        padding: 0px 12px 2px 12px;
        height: 30px;
        
      input {
        outline: none;
        font-size: 150%;
        border: none;
        padding: 0 0 0 12px;
        border-radius: 15px 0 0 15px;
      }
  
      .icon{
        width: 30px;
        height: 30px;
        fill: #fff;
        margin-left: 60px;
      }
    }
    
    .avatar{
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: white;
      margin-right: 10px;
      align-items: center;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      .clicksearch {
        display:  none;
      }
      .search input{
        border-radius: 0 0 0 0;
        width: 150px;
        height: 25px;
      }
      .title {
        margin-left: 10px;
        color: white;
        font-size: 17px;
      }
      .avatar{
        width: 35px;
        height: 35px;
      }
    }
  }
  
  @media (max-width: 320px) {
    .container{
      .avatar{
        width: 30px;
        height: 30px;
      }
      .title {
        margin-left: 10px;
        font-size: 12px;
        color: white;
      }
    }
  }
