* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  width: 100%;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    margin-left: 10px;
    font-size: 25px;
    color: white;
    white-space: nowrap;
    transition: transform 0.2s;
    position: relative;
    width: 200px;
  }

  .search {
    display: flex;
    position: relative;
    height: 30px;

    .skeleton {
      transition: transform 0.2s;
      position: relative;
      overflow: hidden;
      width: 410px;
      height: 29px;
      border-radius: 15px;
      border: none;
    }

    .clicksearch {
      position: relative;
      width: 100px;
      cursor: pointer;
      border-radius: 0 15px 15px 0;
      background: rgb(214, 80, 80);
      background: linear-gradient(
        142deg,
        rgba(214, 80, 80, 1) 0%,
        rgba(213, 137, 53, 1) 30%,
        rgba(199, 145, 67, 1) 70%,
        rgba(232, 79, 0, 1) 100%
      );
    }
    padding: 0px 12px 2px 12px;
    height: 30px;

    input {
      outline: none;
      font-size: 150%;
      border: none;
      padding: 0 0 0 12px;
      border-radius: 15px 0 0 15px;
    }

    .icon {
      width: 30px;
      height: 30px;
      fill: #fff;
      margin-left: 60px;
    }
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    margin-right: 10px;
    align-items: center;
    transition: transform 0.2s;
  }
}

@media (max-width: 768px) {
  .container {
    .wrapper {
      .title {
        width: 25%;
      }

      .search {
        width: 50%;
        font-size: 100%;
        margin-right: auto;

        .clicksearch {
          width: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .icon {
            margin-right: auto;
            margin-left: auto;
          }
        }

        input {
          outline: none;
          border-radius: 15px 0 0 15px;
          width: 100%;
          border: none;
          margin-left: -12px;
        }
      }

      .title {
        margin-left: 10px;
        color: white;
        font-size: 17px;
      }

      .avatar {
        width: 35px;
        height: 35px;
      }
    }
  }
}

@media (max-width: 428px) {
  .container {
    .wrapper {
      .title {
        width: 25%;
      }

      .search {
        font-size: 70%;
        position: relative;
        
        .clicksearch {
          position: relative;
          display: flex;
          height: 90%;
          margin: auto;

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .skeleton{
          border: none;
          width: 50vw;
        }
      }

      .avatar {
        width: 30px;
        height: 30px;
      }

      .title {
        margin-left: 10px;
        font-size: 12px;
        color: white;
      }

      input {
        outline: none;
        margin: auto;
        border-radius: 15px 0 0 15px;
        height: 90%;
        border: none;
        margin-left: -12px;
      }
    }
  }
}
