.container {
  .actors {
    color: white;

    .titleskeleton {
      width: 50px;
    }
  }

  .slider {
    background-color: #0e1b32;
    margin-bottom: 35px;
    width: 100%;

    .wrapper {
      .img {
        border-radius: 10px;
        width: 100px;
      }

      .skeletonimg {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        height: 120px;
        width: 100px;
      }

      .noimg {
        background-image: url("../../assets/no-image-available28.png");
        background-size: cover;
        height: 120px;
        width: 100px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
      }

      .name {
        color: white;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 98%;
    margin: 0;

    .actors {
      margin: 0;

      .titleskeleton {
        font-size: 17px;
      }
    }
    .slider {
      margin-bottom: 0;
      .wrapper {
        .img {
          width: 80px;
          height: auto;
          object-fit: cover;
          gap: 10px;
        }

        .name {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .container {
    width: 98%;
    margin: 0;

    .actors {
      margin: 0;

      .titleskeleton {
        font-size: 17px;
      }
    }
    .slider {
      margin-bottom: 0;

      .wrapper {
        .img {
          width: 90px;
          height: auto;
          object-fit: cover;
          gap: 10px;
        }

        .name {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 90%;
    margin: 0;

    .actors {
      margin: 0;
      .titleskeleton {
        font-size: 17px;
      }
    }
    .slider {
      margin-bottom: 0;

      .wrapper {
        .img {
          display: grid;
          width: 100px;
          height: auto;
          object-fit: cover;
          gap: 10px;
        }

        .name {
          font-size: 17px;
        }
      }
    }
  }
}
