.container{
  margin-top: 12%;
  width: 90%;
  
  .actors{
    color: white;
    margin: 3px 0px 3px 0px;
  }
    
  .slider{
    background-color: #0e1b32;
    margin-bottom: 35px;
    
    .wrapper{
      .img{
        border-radius: 10px; 
      }

      .noimg{
        background-image: url('../../assets/no-image-available28.png');
        background-size: cover;
        height: 120px;
        width: 100px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
      }

      .name{
        color: white;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .container{
    margin: 12px;
    .slider{
      
      .wrapper{
        .noimg{
          display: grid;
          gap: 10px;
        }
      }
    }
  }
}

