.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  .actors {
    color: white;

    .titleskeleton {
      width: 50px;
    }
  }

  .slider {
    margin-bottom: 35px;

    .wrapper {
      .img {
        width: 120px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
      }

      .skeletonimg {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        height: auto;
        width: 100px;
      }

      .noimg {
        background-image: url("../../assets/no-image-available28.png");
        height: 120px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
      }

      .name {
        color: white;
        font-size: 17px;
        text-align: center;
      }

      .character {
        font-size: 15px;
        text-align: center;
        color: gray;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    .actors {
      .titleskeleton {
        font-size: 17px;
      }
    }
    .slider {
      .wrapper {
        .img {
          width: 100px;
        }

        .name {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    .actors {
      .titleskeleton {
        font-size: 17px;
      }
    }
    .slider {
      .wrapper {
        .img {
          width: 100px;
        }

        .name {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .actors {
      .titleskeleton {
        font-size: 17px;
      }
    }
    .slider {
      .wrapper {
        .img {
          width: 120px;
        }

        .name {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin: 0;

    .actors {
      .titleskeleton {
        font-size: 17px;
      }
    }
    .slider {
      .wrapper {
        .img {
          width: 80px;
        }

        .name {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .container {
    width: 100%;

    .actors {
      .titleskeleton {
        font-size: 17px;
      }
    }

    .slider {
      padding: 0;
      margin: 0;
      width: 98%;
    }
  }
}

@media screen and (max-width: 400px) {
  .container {
    .actors {
      .titleskeleton {
        font-size: 17px;
      }
    }

    .slider {
      margin-left: auto;
      margin-right: auto;

      .wrapper {
        .img {
          width: 120px;
          object-fit: cover;
        }

        .name {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .container {
    margin: 0;

    .actors {
      .titleskeleton {
        font-size: 17px;
      }
    }
    .slider {
      .wrapper {
        .img {
          width: 120px;
          object-fit: cover;
        }

        .name {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .container {
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    .actors {
      margin: 0;

      .titleskeleton {
        font-size: 17px;
      }
    }

    .slider {
      margin-bottom: 0;

      .wrapper {
        .noimg {
          width: 100px;
          height: auto;
          object-fit: cover;
        }

        .name {
          font-size: 17px;
        }
      }
    }
  }
}
