.container {
    width: 100%;

    .titleRecommendation {
        color: white;
        margin: 10px 0px 10px 0px;
        width: 180px;
        height: 21px;
    }

    .slider {
        padding: 10px;
        background-color: #0e1b32;
        height: 140px;

        .wrapper {
            border-radius: 10px;

            .img {
                margin-left: auto;
                margin-right: auto;
                height: 120px;
                border-radius: 10px;
            }
        }
    }
}

.title {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
}

@media screen and (max-width: 720px) {
    .container {
        width: 100%;

        .slider {
            padding: 0;
            margin: 0;
            width: 100%;

            .wrapper {
                .img {
                    width: 100px;
                }
                .title {
                    font-size: 17px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 98%;

        .slider {
            padding: 0;
            margin: 0;
            width: 98%;

            .wrapper {
                .img {
                    width: 80px;
                }
                .title {
                    font-size: 17px;
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .container {
        width: 98%;

        .slider {
            padding: 0;
            margin: 0;
            width: 98%;

            .wrapper {
                .img {
                    width: 80px;
                }
                .title {
                    font-size: 17px;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .container {
        width: 90%;

        .slider {
            padding: 0;

            .wrapper {
                .img {
                    width: 100px;
                    object-fit: cover;
                }
                .title {
                    font-size: 17px;
                }
            }
        }
    }
}
