.titleRecommendation{
    color: white;
    margin: 10px 0px 10px 0px;
}

.wrapper{
    border-radius: 10px;
    height: 180px;
}

.img{
    margin: 10px;
    width: 100px;
    height: 120px;
    border-radius: 10px;
}

.title{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.slider{
    padding: 10px;
    background-color: #0e1b32;
}

.noimg{
    background-image: url('../../assets/no-image-available28.png');
    background-size: cover;
    height: 120px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

