.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .titlequery {
        display: flex;
        position: relative;
        left: 30px;
        margin-bottom: 30px;
        font-size: 30px;
        color: white;
    }
    .movies {
        text-align: center;
        margin-top: 30px;
        color: white;
        margin-left: auto;
        margin-right: auto;
        font-size: 35px;
        width: 10%;

        .moviesSceleton {
            text-align: center;
            color: white;
            margin-left: auto;
            margin-right: auto;
            font-size: 35px;
            width: 100%;
        }
    }

    .wrapperdata {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 210px));
        justify-content: center;
    }
}

@media screen and (max-width: 420px) {
    .container {
        width: 98%;

        .titlequery {
            position: relative;
            font-size: 17px;
            top: 10px;
            left: 0;
        }

        .wrapperdata {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 360px) {
    .container {
        width: 98%;

        .titlequery {
            position: relative;
            font-size: 17px;
            top: 10px;
            left: 0;
        }

        .wrapperdata {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 320px) {
    .container {
        width: 98%;

        .titlequery {
            position: relative;
            font-size: 17px;
            top: 10px;
            left: 0;
        }

        .wrapperdata {
            grid-template-columns: 1fr 1fr;
        }
    }
}
