.container {
  width: 90%;
  height: 250vh;
  background-color: #0e1b32;
  overflow-x: hidden;

  .wrapper {
    position: relative;
    width: 98%;
    margin-left: auto;
    margin-right: auto;

    .overviewContent {
      display: flex;

      .img {
        position: relative;
        top: 40px;
        height: 300px;
        width: 300px;
        box-shadow: 0px 0px 17px 28px rgba(10, 42, 168, 0.57);
        border-radius: 12px;
      }

      .average {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .detail {
        position: relative;
        left: 60px;
        color: white;
        font-size: 21px;

        .title {
          padding: 10px;
          margin: 10px 0 10px 0;

          .skeletontitle {
            font-size: 25px;
            color: rgb(255, 6, 6);
            width: 35%;
            height: 25px;
          }
        }

        .overview {
          padding: 0px 10px 0px 10px;
          width: 70%;
        }

        .skeletonoverview {
          height: 25%;
        }

        .data {
          display: flex;
          align-items: center;
          font-size: 17px;
          margin: 15px 0 15px 15px;

          .skeletondata {
            font-size: 21px;
            margin-right: 35px;
            width: 120px;
          }

          .genre {
            display: flex;
            grid-template-columns: auto;
            width: 50%;
            margin-left: 30px;

            .wrappergenres {
              margin: 5px;
              border-radius: 10px;
              margin-left: 30px;
              background-color: rgb(252, 50, 83);

              .skeletontitle {
                width: 120px;
                height: 21px;
                border-radius: 10px;
              }

              .genretitle {
                font-size: 17px;
                color: white;
                padding: 1px 5px 1px 5px;
                font-weight: lighter;
                white-space: nowrap;
              }
            }
          }
        }

        .videoWrapper {
          width: 50%;
        }
      }
    }

    .titleRecommendation {
      width: 90%;
    }
  }

  .vote_average {
    font-size: 23px;
    padding: 10px 10px 0px 10px;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-top: 80px;
    margin-bottom: 55px;

    .detailsReviews {
      display: block;
      font-size: 16px;
      color: white;
    }

    .reviewsTitle {
      font-size: 21px;
      color: gray;
      margin-bottom: 10px;
      width: 180px;
    }

    .author {
      font-size: 21px;
      color: red;
      width: 380px;
      margin-top: 3px;
      height: 25px;
    }

    .content {
      color: white;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 99%;
    display: flex;
    flex-direction: column;

    .wrapper {
      .overviewContent {
        .blockimg {
          display: block;
          margin-left: auto;
          margin-right: auto;

          .img {
            margin-left: auto;
            margin-right: auto;
          }

          .average {
            position: relative;
            top: 10px;
          }
        }

        .detail {
          margin-top: 30px;
          .title {
            position: relative;

            .skeletontitle {
              font-size: 21px;
              position: relative;
              width: 90%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .overview {
            width: 86%;
            margin-left: -10px;
          }

          .data {
            display: flex;
            flex-direction: column;
            width: 100%;

            .datan {
              position: relative;
              left: -45%;
            }

            .genre {
              position: relative;
              left: -34%;

              .wrappergenres {
                .genretitle{
                  padding: 1px 3px 1px 3px;
                }
              }
            }
          }
        }
      }

      .cast {
        margin-left: auto;
        margin-right: auto;
      }

      .titleRecommendation {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        h2 {
          font-size: 21px;
        }
      }

      .reviews {
        width: 95%;

        .detailsReviews {
          width: 98%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 99%;
    display: flex;
    flex-direction: column;

    .wrapper {
      .overviewContent {
        display: flex;
        flex-direction: column;

        .blockimg {
          display: block;
          margin-left: auto;
          margin-right: auto;

          .img {
            margin-left: auto;
            margin-right: auto;
          }

          .average {
            position: relative;
            top: 10px;
          }
        }

        .detail {
          .title {
            margin: 0;
            padding: 0;
            width: 83%;
            position: relative;
            display: flex;
            justify-content: center;

            .skeletontitle {
              font-size: 21px;
              position: relative;
              width: 90%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .overview {
            width: 86%;
            margin-left: -10px;
          }

          .data {
            display: flex;
            flex-direction: column;
            width: 100%;

            .datan {
              display: flex;
              flex-direction: row;
              margin-right: auto;
            }

            .genre {
              display: grid;
              grid-template-columns: 1fr 1fr;
              position: relative;
              left: -20px;
              width: 80%;
              margin-top: 21px;
              margin-left: auto;
              margin-right: auto;
              padding: 0;
              gap: 3px;

              .wrappergenres {
                margin: 0;
                padding: 0;
                width: 80%;
                text-align: center;
              }
            }
          }
        }
      }

      .cast {
        margin-left: auto;
        margin-right: auto;
      }

      .titleRecommendation {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        h2 {
          font-size: 21px;
        }
      }

      .reviews {
        width: 95%;

        .detailsReviews {
          width: 98%;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .container {
    width: 99%;
    display: flex;
    flex-direction: column;

    .wrapper {
      .overviewContent {
        display: flex;
        flex-direction: column;

        .blockimg {
          display: block;

          .average {
            position: relative;
            top: 10px;
          }
        }

        .detail {
          .title {
            margin: 0;
            padding: 0;
            width: 83%;
            position: relative;
            display: flex;
            justify-content: center;

            .skeletontitle {
              font-size: 21px;
              position: relative;
              width: 90%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .overview {
            width: 86%;
            margin-left: -10px;
          }

          .data {
            display: flex;
            flex-direction: column;
            width: 100%;

            .datan {
              display: flex;
              flex-direction: row;
              margin-right: auto;
            }

            .genre {
              display: grid;
              grid-template-columns: 1fr 1fr;
              position: relative;
              left: -20px;
              width: 80%;
              margin-top: 21px;
              margin-left: auto;
              margin-right: auto;
              padding: 0;
              gap: 3px;

              .wrappergenres {
                margin: 0;
                padding: 0;
                width: 80%;
                text-align: center;
              }
            }
          }
        }
      }

      .cast {
        margin-left: auto;
        margin-right: auto;
      }

      .titleRecommendation {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        h2 {
          font-size: 21px;
        }
      }

      .reviews {
        width: 95%;

        .detailsReviews {
          width: 98%;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 99%;
    display: flex;
    flex-direction: column;

    .wrapper {
      .overviewContent {
        display: flex;
        flex-direction: column;

        .blockimg {
          display: flex;
          flex-direction: column;
          margin-left: auto;
          margin-right: auto;

          .img {
            width: 260px;
            object-fit: cover;
          }

          .average {
            position: relative;
            top: 10px;
          }
        }

        .detail {
          left: 10px;

          .title {
            margin: 0;
            padding: 0;
            position: relative;
            display: flex;
            justify-content: center;

            .skeletontitle {
              font-size: 17px;
              position: relative;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .overview {
            width: 86%;
            margin-left: -10px;
          }

          .data {
            display: flex;
            flex-direction: column;
            width: 100%;

            .datan {
              display: flex;
              flex-direction: row;
              margin-right: auto;
            }

            .genre {
              display: grid;
              grid-template-columns: 1fr 1fr;
              position: relative;
              left: -20px;
              width: 80%;
              margin-top: 21px;
              margin-left: auto;
              margin-right: auto;
              padding: 0;
              gap: 3px;

              .wrappergenres {
                margin: 0;
                padding: 0;
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }

      .cast {
        width: 90%;
        position: relative;
      }

      .titleRecommendation {
        position: relative;

        h2 {
          font-size: 21px;
        }
      }

      .reviews {
        width: 95%;
        margin-left: 0;

        .detailsReviews {
          width: 98%;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .container {
    // width: 99%;
    display: flex;
    flex-direction: column;

    .wrapper {
      .overviewContent {
        display: flex;
        flex-direction: column;

        .blockimg {
          display: flex;
          flex-direction: column;
          margin-left: auto;
          margin-right: auto;

          .img {
            width: 260px;
            object-fit: cover;
          }

          .average {
            position: relative;
            top: 10px;
          }
        }

        .detail {
          left: 10px;

          .title {
            margin: 0;
            padding: 0;
            position: relative;
            display: flex;
            justify-content: center;

            .skeletontitle {
              font-size: 17px;
              position: relative;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .overview {
            width: 86%;
            margin-left: -10px;
          }

          .data {
            display: flex;
            flex-direction: column;
            width: 100%;

            .datan {
              display: flex;
              flex-direction: row;
              margin-right: auto;
            }

            .genre {
              display: grid;
              grid-template-columns: 1fr 1fr;
              position: relative;
              left: -20px;
              width: 80%;
              margin-top: 21px;
              margin-left: auto;
              margin-right: auto;
              padding: 0;
              gap: 3px;

              .wrappergenres {
                margin: 0;
                padding: 0;
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }

      .titleRecommendation {
        position: relative;

        h2 {
          font-size: 21px;
        }
      }

      .reviews {
        
        width: 95%;
        margin-left: 0;
        .detailsReviews {
          width: 98%;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .container {
    width: 99%;
    display: flex;
    flex-direction: column;

    .wrapper {
      .overviewContent {
        display: flex;
        flex-direction: column;

        .blockimg {
          display: flex;
          flex-direction: column;

          .img {
            width: 260px;
            object-fit: cover;
          }

          .average {
            position: relative;
            top: 10px;
          }
        }

        .detail {
          .title {
            margin: 0;
            padding: 0;
            width: 83%;
            position: relative;
            display: flex;
            justify-content: center;

            .skeletontitle {
              font-size: 17px;
              position: relative;
              width: 10%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .overview {
            width: 86%;
            margin-left: -10px;
          }

          .data {
            display: flex;
            flex-direction: column;
            width: 100%;

            .datan {
              display: flex;
              flex-direction: row;
              margin-right: auto;
            }

            .genre {
              display: grid;
              grid-template-columns: 1fr 1fr;
              position: relative;
              left: -20px;
              width: 100%;
              margin-top: 21px;
              margin-left: auto;
              margin-right: auto;
              padding: 0;
              gap: 3px;

              .wrappergenres {
                margin: 0;
                padding: 0;
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }

      .titleRecommendation {
        h2 {
          font-size: 21px;
        }
      }

      .reviews {
        .detailsReviews {
          width: 98%;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 99%;
    display: flex;
    flex-direction: column;

    .wrapper {
      .overviewContent {
        display: flex;
        flex-direction: column;

        .blockimg {
          display: flex;
          flex-direction: column;

          .img {
            width: 260px;
            object-fit: cover;
          }

          .average {
            position: relative;
            top: 10px;
          }
        }

        .detail {
          .title {
            margin: 0;
            padding: 0;
            width: 83%;
            position: relative;
            display: flex;
            justify-content: center;

            .skeletontitle {
              font-size: 17px;
              position: relative;
              width: 10%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .overview {
            width: 86%;
            margin-left: -10px;
          }

          .data {
            display: flex;
            flex-direction: column;
            width: 100%;

            .datan {
              display: flex;
              flex-direction: row;
              margin-right: auto;
            }

            .genre {
              display: grid;
              grid-template-columns: 1fr 1fr;
              position: relative;
              left: -20px;
              width: 100%;
              margin-top: 21px;
              margin-left: auto;
              margin-right: auto;
              padding: 0;
              gap: 3px;

              .wrappergenres {
                margin: 0;
                padding: 0;
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }

      .cast {
        width: 88%;
      }

      .titleRecommendation {
        margin: 0;

        h2 {
          font-size: 21px;
        }
      }

      .reviews {
        width: 95%;
        margin-left: -21px;

        .detailsReviews {
          width: 98%;
        }
      }
    }
  }
}
