.container {
  width: 90%;
  height: 250vh;
  background-color: #0e1b32;
  overflow-x: hidden;

  .wrapper {
    position: relative;
    left: 30px;

    .overviewContent {
      display: flex;

      .img {
        position: relative;
        top: 40px;
        height: 300px;
        width: 300px;
        margin: 3% 0 0 3%;
        box-shadow: 0px 0px 17px 28px rgba(10, 42, 168, 0.57);
        border-radius: 12px;
      }

      .average {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .detail {
        margin: 3% 0 0 2%;
        color: white;
        font-size: 21px;

        .title {
          padding: 10px;
          margin: 10px 0 10px 0;

          .skeletontitle {
            font-size: 25px;
            color: rgb(255, 6, 6);
            width: 35%;
            height: 25px;
          }
        }

        .overview {
          padding: 0px 10px 0px 10px;
          height: 25%;
          width: 70%;
        }

        .skeletonoverview {
          height: 25%;
        }

        .data {
          display: flex;
          align-items: center;
          font-size: 17px;
          margin: 15px 0 15px 15px;

          .skeletondata {
            font-size: 21px;
            margin-right: 35px;
            border: 1px solid white;
            width: 120px;
          }

          .genre {
            display: flex;
            grid-template-columns: auto;
            width: 50%;
            margin-left: 30px;

            .wrappergenres {
              margin: 5px;
              border-radius: 10px;
              margin-left: 30px;
              background-color: rgb(252, 50, 83);

              .skeletontitle {
                width: 120px;
                height: 21px;
                border: 1px solid silver;
                border-radius: 10px;
              }
              .title {
                font-size: 17px;
                color: white;
                font-weight: lighter;
                white-space: nowrap;
              }
            }
          }
        }

        .videoWrapper {
          width: 50%;
        }
      }
    }

    .titleRecommendation {
      width: 90%;
    }
  }

  .vote_average {
    font-size: 23px;
    padding: 10px 10px 0px 10px;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 15px;

    .detailsReviews {
      display: block;
      font-size: 16px;
      color: white;
    }

    .reviewsTitle {
      font-size: 21px;
      color: gray;
      margin-bottom: 10px;
      width: 180px;
    }

    .author {
      font-size: 21px;
      color: red;
      width: 380px;
      margin-top: 3px;
      height: 25px;
    }

    .content {
      color: white;
    }
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 99%;
    display: flex;

    position: relative;
    .wrapper {
      .overviewContent {
        display: flex;
        flex-direction: column;

        .blockimg {
          display: block;
          justify-content: center;
          align-items: center;

          .img {
            width: 219px;
            height: auto;
            display: flex;
          }

          .average {
            position: relative;
            top: 10px;
          }
        }

        .detail {
          width: 99%;
          margin-left: -30px;
          position: relative;

          .title {
            margin: 0;
            padding: 0;
            text-align: center;

            .skeletontitle {
              font-size: 17px;
              display: flex;
              width: 100%;
            }
          }

          .overview {
            width: 95%;
          }

          .data {
            display: flex;
            flex-direction: column;
            width: 100%;

            .datan {
              display: flex;
              flex-direction: row;
              margin-right: auto;
            }

            .genre {
              display: grid;
              margin-top: 21px;
              margin-left: -20px;
              padding: 0;
              gap: 5px;

              .wrappergenres {
                margin: 0;
                width: 80%;
                margin-left: -68px;
                text-align: center;
              }
            }
          }
        }
      }

      .cast {
        width: 90%;
      }

      .titleRecommendation {
        margin: 0;

        h2 {
          font-size: 21px;
        }
      }

      .reviews {
        width: 95%;
        margin-left: -21px;

        .detailsReviews {
          width: 98%;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .container {
    display: flex;
    flex-direction: column;

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .overviewContent {
        font-size: 12px;
        display: flex;
        flex-direction: column;

        .imgwrapper {
          .img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 250px;
            object-fit: cover;
            margin-left: auto;
            margin-right: auto;
          }

          .average {
            left: 7em;
          }
        }

        .detail {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 17px;

          .title {
            font-size: 17px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 412px) {
  .wrapper {
    .overviewContent {
      .imgwrapper {
        width: 90%;
        margin-top: 30px;
      }

      .detail {
        width: 88%;
        position: relative;

        .overview {
          width: 95%;
        }

        .data {
          display: grid;
          grid-template-columns: auto;
          position: relative;
          width: 50%;
          margin-left: -45%;

          .genre {
            display: flex;
            margin-left: -1%;
            flex-direction: column;
            grid-template-columns: auto;
            width: 100%;
          }
        }
      }
    }
  }
}
