.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 12px;

  .wrapper {
    position: relative;

    .backdrop {
      position: absolute;
      display: flex;
      object-fit: contain;
      left: 0;
      width: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0.3;

      img {
        width: 100%;
        max-height: clamp(37.5rem, calc(12.5rem + 80vi), 62.5rem);
      }
    }

    .overviewContent {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));

      .blockimg {
        position: relative;
        width: 90%;

        .block_img {
          display: flex;
          justify-content: center;
          position: relative;

          .img {
            margin-top: 7px;
            width: 90%;
            min-width: 200px;
            border-bottom-left-radius: 21%;
          }
        }
      }

      .detail {
        .title {
          font-size: clamp(1.063rem, calc(0.688rem + 1.2vi), 1.438rem);
          .skeletontitle {
          }
        }

        .overview {
          width: 95%;
        }

        .skeletonoverview {
        }

        .title_genres {
          margin-top: 12px;
          font-weight: 700;
          text-wrap: nowrap;
        }
        .genre {
          width: 70%;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(100px, auto));
          flex-wrap: wrap;
          gap: 5px;
          position: relative;

          .wrappergenres {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ff0000;
            border: 0.3px solid #333;
            border-radius: 10px;

            .genretitle {
              display: flex;
              text-wrap: nowrap;
            }
          }
        }

        .info {
          margin-top: 12px;
        }

        .videoWrapper {
          margin-top: clamp(0.875rem, calc(-6.063rem + 22.2vi), 7.813rem);
        }
      }
    }
  }

  .titleRecommendation {
  }
  .titleComments {
    margin-top: 100px;
  }
}
